li
  a(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Alerts')
    i.eos-icons.md-18
      | library_books
    | Installation instructions
li
  a(href='https://xd.adobe.com/spec/32746485-3e9f-4bf0-5592-d0551ff56c9c-4445/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Alerts', target='_blank')
    i.eos-icons.md-18
      | open_in_new
    | Design specifications
li
  a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Alerts/alerts.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Alerts', target='_blank')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Alerts/alerts.svg', data-event-category='Dropdown link', data-event-action='SVG Download link', data-event-label='Alerts', target='_blank')
    i.eos-icons.md-18
      | file_download
    | SVG file
