/* Submenu variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-submenu-text-color: $eos-body-color;
$eos-submenu-hover-border: $eos-bc-gray-400;
$eos-submenu-hover-color: $eos-color-main;
$eos-submenu-selected-border-color: $eos-bc-green-500;
$eos-submenu-dropdown-span: $eos-bc-gray-200;
$eos-submenu-search-border: $eos-bc-gray-200;
$eos-submenu-background: $eos-bc-white;
$eos-submenu-border: $eos-bc-gray-50;
$eos-submenu-box-scroll: 1px 2px 4px rgba(0, 0, 0, 0.1);
$eos-submenu-user-email-color: $eos-bc-gray-900;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-submenu-input-width: 200px;
$eos-submenu-height: $eos-xxl;
$eos-submenu-width: 100%;
$eos-submenu-toggle-padding: $eos-m;
$eos-submenu-item-spacing: $eos-s + 4;
$eos-submenu-nav-border-width: 3px;
$eos-submenu-search-wrap-height: $eos-xl;
$eos-submenu-dropdown-padding: $eos-s $eos-m;
$eos-submenu-item-padding: $eos-submenu-item-spacing $eos-m;
$eos-submenu-more-dd-padding: $eos-s;
$eos-submenu-zindex: $eos-zindex-navbar-fixed;
$eos-submenu-dropdown-more-padding: $eos-s + 3 $eos-m;
$eos-submenu-user-padding: $eos-s + 2 $eos-s $eos-s + 2 0;
$eos-submenu-user-li-padding: $eos-s $eos-m $eos-m $eos-m;
$eos-submenu-user-li-a-margin-top: $eos-s;
$eos-submenu-user-name-span-font-size: $eos-m - 4;
$eos-submenu-user-dropdown-margin-right: $eos-s;
/* z-index variables: /assets/stylesheets/eos-components/mobile-menu/mobile-menu.variables.scss */
$eos-mobile-menu-height: $eos-mm-height;
