extends ../layouts/layout-main

block content
  .container.dashboard.js-newsController.js-changelogController
    .row
      .col-sm-8
        h1
          | EOS Design System
        p.subheadline
          | A design system made for #{config.brand} products and the Open Source community.
      .col-sm-4
        - if (locals.config.showChangelog) {
          .changelog-box.js-changelog.changelog-box-inactive(onclick='window.location.href = "/changelog"')
            .changelog-box-left
              img.changelog-img(src='/images/components/changelog/rocket.svg')
            .changelog-box-right
              h5
                | We’ve introduced new changes.
              p
                strong
                  | See the changelog for more information.
        - }
    hr.hidden-xs
    article
      h2
        | Getting started
      .row.documentation-article
        .col-md-6.col-xs-12.documentation-npm-installing
          .row
            .col-md-8.col-xs-8
              p
                | If your product’s UI was built using Bootstrap 3,
                | we recommend you installing the EOS npm package
                | which includes everything you need to start using
                | the components, layout, and elements delivered in EOS.
              a.btn.btn-default.margin-top-m(href='/installing-npm')
                | Installing and using EOS npm
            .col-md-4.col-xs-4
              img.responsive(src='/images/dashboard/bootstrap_logo_dashboard.svg', alt='Boostrap - decorative')

        .col-md-6.col-xs-12.documentation-article-specs
          .row
            .col-md-8.col-xs-8
              p
                | Are you not using Bootstrap? We didn’t forget
                | about you. All of the components and elements
                | in EOS include a Design Spec, as well as the original file in Adobe XD or SVG.
              a.btn.btn-default.margin-top-m(href='/design-specs')
                | Manual implementation with specs
            .col-md-4.col-xs-4
              img.responsive(src='/images/dashboard/adobexd_inkscape_logo.svg', alt='Adobexd and Inkscape logos - decorative')
    hr
    .row.news-component
      .col-xs-8
        h2.title-no-margings
          | News and tutorials
      .col-sm-4.text-right
        .carousel-controller
          .ag-arrow.js-news-tutorials-before
            i.eos-icons.js-tooltip(data-toggle='tooltip', title='Previous')
              | navigate_before
          .ag-arrow.js-news-tutorials-next
            i.eos-icons.js-tooltip(data-toggle='tooltip', title='Next')
              | navigate_next
      .news-loading-wrap.js-news-loading-wrap
        i.eos-icons.eos-icon-loading.md-36
    .news-tutorials-carousel.carousel.js-news-tutorials-carousel.hide
      //- Starting carousel content
      include ../shared/news/video
      include ../shared/news/article

    //- Resources and guides
    article
      section
        h2
          | Atomic design classification
        p
          | All elements, components, guides, and more are delivered following the atomic
          | design methodology. We have grouped them inside the next 4 cards for you to get a
          | better overview of how we are building EOS.
        .row.margin-top-xxl
          .col-xs-12.col-sm-4.col-md-3
            input#atoms-card-flip.card-flipper(type='checkbox')
            .card.card-flippable
              label.card-flippable-label(for='atoms-card-flip')
                .card-flippable-wrap.card-flippable-front
                  .card-flippable-body
                    header
                      h3.card-flippable-title
                        | Atoms
                    p.card-flippable-text
                      | The smallest building blocks of your project.
                      | Text styles, buttons, icons, input fields, checkboxes, etc.
                    .figure-wrap
                      figure
                        img(src='/images/dashboard/atoms.svg')
                  footer.card-flippable-footer
                    .card-flippable-cta
                      i.eos-icons
                        | swap_horizontal_circle
                .card-flippable-wrap.card-flippable-back
                  .card-flippable-body
                    header
                      h3.card-flippable-title
                        | Atoms
                    ul.list-no-padding.no-list-style
                      li
                        a(href='/buttons')
                          i.eos-icons.md-18
                            | crop_16_9
                          | Buttons
                      li
                        a(href='/colors')
                          i.eos-icons.md-18
                            | color_lens
                          | Colors
                      li
                        a(href='/icons')
                          i.eos-icons.md-18
                            | miscellaneous
                          | Icons
                      li
                        a(href='/patterns')
                          img.md-18.margin-right-s(src='/images/dashboard/patterns-icon.svg')
                          | Patterns
                      li
                        a(href='/typography')
                          i.eos-icons.md-18
                            | text_fields
                          | Typography
                      li
                        a(href='/writing')
                          i.eos-icons.md-18
                            | spellcheck
                          | Writing guides
                  footer.card-flippable-footer
                    .card-flippable-cta
                      i.eos-icons
                        | swap_horizontal_circle
          .col-xs-12.col-sm-4.col-md-3
            input#molecules-card-flip.card-flipper(type='checkbox')
            .card.card-flippable
              label.card-flippable-label(for='molecules-card-flip')
                .card-flippable-wrap.card-flippable-front
                  .card-flippable-body
                    header
                      h3.card-flippable-title
                        | Molecules
                    p.card-flippable-text
                      | More complex entities consisting of several atoms. Things like
                      | notification toasts, data values (label: value), input fields with buttons, etc.
                    .figure-wrap
                      figure
                        img(src='/images/dashboard/molecules.svg')
                  footer.card-flippable-footer
                    .card-flippable-cta
                      i.eos-icons
                        | swap_horizontal_circle
                .card-flippable-wrap.card-flippable-back
                  .card-flippable-body
                    header
                      h3.card-flippable-title
                        | Molecules
                    ul.list-no-padding.no-list-style
                      li
                        a(href='/alerts')
                          i.eos-icons.md-18
                            | notifications
                          | Alerts
                  footer.card-flippable-footer
                    .card-flippable-cta
                      i.eos-icons
                        | swap_horizontal_circle
          .col-xs-12.col-sm-4.col-md-3
            input#organisms-card-flip.card-flipper(type='checkbox')
            .card.card-flippable
              label.card-flippable-label(for='organisms-card-flip')
                .card-flippable-wrap.card-flippable-front
                  .card-flippable-body
                    header
                      h3.card-flippable-title
                        | Organisms
                    p.card-flippable-text
                      | Truly functional parts of a page, made from groups of atoms and molecules.
                    .figure-wrap
                      figure
                        img(src='/images/dashboard/organisms.svg')
                  footer.card-flippable-footer
                    .card-flippable-cta
                      i.eos-icons
                        | swap_horizontal_circle
                .card-flippable-wrap.card-flippable-back
                  .card-flippable-body
                    header
                      h3.card-flippable-title
                        | Organisms
                      ul.list-no-padding.no-list-style
                        li
                          a(href='/layout/main-menu')
                            i.eos-icons.md-18
                              | menu
                            | Main menu
                        li
                          a(href='/layout/submenu')
                            i.eos-icons.md-18
                              | power_input
                            | Submenu
                  footer.card-flippable-footer
                    .card-flippable-cta
                      i.eos-icons
                        | swap_horizontal_circle
          .col-xs-12.col-sm-4.col-md-3
            input#templates-card-flip.card-flipper(type='checkbox')
            .card.card-flippable
              label.card-flippable-label(for='templates-card-flip')
                .card-flippable-wrap.card-flippable-front
                  .card-flippable-body
                    header
                      h3.card-flippable-title
                        | Templates
                    p.card-flippable-text
                      | Essentially, those are pages without real content. They combine organisms into a proper website layout
                    .figure-wrap
                      figure
                        img(src='/images/dashboard/templates.svg')
                  footer.card-flippable-footer
                    .card-flippable-cta
                      i.eos-icons
                        | swap_horizontal_circle
                .card-flippable-wrap.card-flippable-back
                  .card-flippable-body
                    header
                      h3.card-flippable-title
                        | Templates
                    ul.list-no-padding.no-list-style
                      li
                        a(href='/layout')
                          i.eos-icons.md-18
                            | web
                          | Main layout
                  footer.card-flippable-footer
                    .card-flippable-cta
                      i.eos-icons
                        | swap_horizontal_circle

  include ../shared/modals/video-modal.pug
