ul.footer-list
  li.footer-list-item
    a.footer-link(href='/cookies-policy', data-event-category='Internal link', data-event-action='Cookies policy', data-event-label='Footer')
      | Cookie policy
  - if (locals.config.showChangelog)
    li.footer-list-item
      a.footer-link(href='/changelog', data-event-category='Internal link', data-event-action='Changelog', data-event-label='Footer')
        | Changelog
  -
  li.footer-list-item
    a.footer-link(href='https://gitlab.com/SUSE-UIUX/eos/tags', data-event-category='External link', data-event-action='Link Gitlab issues', data-event-label='Footer', target='_blank')
      img.js-tooltip(src='/images/icons/gitlab_color.svg', data-toggle='tooltip', data-html='true', title='View our repository')
