/* Typography
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Lato:200,400,700');
$eos-font-type-base: 'Lato', sans-serif;
$eos-font-size-base: 14px;
$eos-font-weight-normal-base: 400;
$eos-font-weight-light-base: 200;
$eos-line-height: 1.5em;
