/* Dropdown
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/dropdown/dropdown.variables.scss */

.open .dropdown-toggle {

  &.btn-default {
    background-color: transparent;
    border-color: $eos-btn-default-dropdown-color;
    color: $eos-btn-default-dropdown-color;

    &:focus,
    &.focus {
      background-color: transparent;
      border-color: $eos-btn-default-dropdown-color-active;
      color: $eos-btn-default-dropdown-color-active;
    }
  }

  &.btn-primary {
    background-color: $eos-btn-primary-dropdown-color;
    border-color: $eos-btn-primary-dropdown-color;
    color: $eos-btn-primary-dropdown-text-color;

    &:focus,
    &.focus {
      background-color: $eos-btn-primary-dropdown-color-active;
      border-color: $eos-btn-primary-dropdown-color-active;
      color: $eos-btn-primary-dropdown-text-color;
    }
  }

  &.btn-danger {
    background-color: $eos-btn-danger-dropdown-color;
    border-color: $eos-btn-danger-dropdown-color;
    color: $eos-btn-danger-dropdown-text-color;

    &:focus,
    &.focus {
      background-color: $eos-btn-danger-dropdown-color-active;
      border-color: $eos-btn-danger-dropdown-color-active;
      color: $eos-btn-danger-dropdown-text-color;
    }
  }
}
