doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // Latest compiled and minified CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/eos-icons/dist/extended/css/eos-icons-extended.css')
    link(rel='stylesheet' href='css/eos-style.css')
    title EOS - Layout

  body
    include files_copy/shared/menu/menu-layout.pug
    include files_copy/shared/menu/mobile-menu-layout.pug
    section.content
      include files_copy/shared/menu/submenu.pug
      block content
        .container
          h1
            | Welcome to EOS
          p
            | To show an active menu/submenu element, add the class 
            code
              | selected
    include files_copy/shared/footer/footer-content.pug

script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
script(src='js/index.js')
script(src='js/demo.js')
