.news-component {
  .news-loading-wrap {
    align-content: center;
    align-items: center;
    border: $eos-news-loading-wrap-border;
    display: flex;
    justify-content: center;
    margin-top: $eos-news-loading-margin-top;
    min-height: $eos-news-loading-margin-height;
    width: 100%;

    i {
      margin: 0;
    }
  }
}
