a.news-card-container.js-article-container.modal-link
  .card.card-horizontal.card-horizontal-color
    .card-content
      div
        h3
      div
        img.img-responsive.img-news(src='#')
    span.card-icon
      i.eos-icons.md-18
        | library_books
    span.card-date
      i.eos-icons.md-18
        | today
      .js-card-date
    footer
      span
        | Read articles
