a.js-video-container.modal-link.js-launch-modal.news-card-container(href='#', data-toggle='modal', data-target='#video-dashboard', data-video-name='#')
  .card.card-horizontal.card-horizontal-color
    .card-content
      div
        h3
      div
        img.img-responsive.img-news(src='#')
    span.card-icon
      i.eos-icons.md-18
        | play_circle_filled
    span.card-date
      i.eos-icons.md-18
        | today
      .js-card-date
    footer
      span
        | Watch video
