extends ../layouts/layout-main

block content
  .container.js-eos-icons-set.js-eosIconsSet
    section
      .row
        .col-md-9
          h1
            | EOS icon set
          p.subheadline
            | The EOS icons are a handcrafted iconic font designed using the Material Design
            | guidelines. They are 100% compliant with the MD icons, also use ligatures,
            | and are downloadable as an Open Source project on gitlab or via NPM.
        .col-md-3
          a.btn.btn-default.margin-top-m.btn-block(href='https://eos-icons.eosdesignsystem.com/docs.html', target='_blank')
            | #[i.eos-icons.md-18 open_in_new] Install eos-icons
          button.btn.btn-primary.btn-block(data-toggle='modal', data-target='#requestNewIcon')
            | #[i.eos-icons.md-18 add_circle] Request new icon
    section
      hr
      .row
        .col-xs-12
          .pull-right
            .icons-search-wrap
              input.js-eos-icon-filter(type='search', name='eos-icon-filter', placeholder='Type to search')
              i.eos-icons.md-18
                | search
      .row.eos-icons-notification.js-eos-icons-notification
      .js-eos-icons-list.icons-set-list
        .icon-display.js-icon-display.js-panel-slidein-open
          .eos-icons.js-eos-icons.md-48
          .icon-name.js-icon-name

      // Panel-slidein component to show more information after clicking .js-panel-slidein-open
      .panel-slidein.js-panel-slidein.panel-slidein-right
        .panel-slidein-body
          include ../includes/panel-slidein/eos-icons.pug
        .panel-slidein-footer
          h6
            | Tags
          .js-eos-icons-tags-list
            span.label.label-default.label-default-custom.js-eos-icons-tag

        .panel-slidein-close.eos-icons.md-18.pull-right.js-panel-slidein-close
          | close

  include ../includes/request-new-icon/request-new-icon-modal.pug
