extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Typography
          p.subheadline
            | Typography is an important part of design.
            | It is used to organise and create clear and efficient hierarchy.
        .col-md-3
          .dropdown.margin-top-m.pull-right
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.md-18 expand_more] Typography assets
            ul.dropdown-menu.dropdown-menu-left
              li
                a(href='https://xd.adobe.com/spec/4a4e5cda-7239-4c88-6d46-05abbbc5755b-3c7f/screen/425254c8-851e-4eae-9977-42c93160d1f9/typography-specs/', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Typography', target='_blank')
                  i.eos-icons.md-18
                    | open_in_new
                  | Design specifications
              li
                a(href='https://fonts.google.com/specimen/Lato', data-event-category='External link', data-event-action='Lato link in dropdown', data-event-label='Typography', target='_blank')
                  i.eos-icons.md-18
                    | open_in_new
                  | Get Lato font
    hr
    article.typography
      h3.title-strong
        | Typeface
      p
        | Use #[a(href='https://fonts.google.com/specimen/Lato', data-event-category='External link', data-event-action='Lato link in dropdown', data-event-label='Typography', target='_blank') Lato]
        | as the standard typeface.

        h5.margin-top-xl
          | Possible variations
        ul.no-list-style.no-top-padding-list-style
          li
            p
              | Lato Regular 400
            p
              | One design system, endless possibilities
          li
            p
              em
                | Lato Italic 400
            p
              em
                | One design system, endless possibilities
          li
            p
              strong
                | Lato Bold 700
            p
              strong
                | One design system, endless possibilities
        p
          | Standard
        .css-snippet-container
          .scss-snippet-btns.pull-right
            i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
              | content_copy
          pre.prettyprint.js-snippet-code
            code
              | &lt;link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet"&gt;
        p
          | Import
        .css-snippet-container
          .scss-snippet-btns.pull-right
            i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
              | content_copy
          pre.prettyprint.js-snippet-code
            code
              | @import url(&#39;https://fonts.googleapis.com/css?family=Lato:400,400i,700&#39;);
        p
          | In CSS
        .css-snippet-container
          .scss-snippet-btns.pull-right
            i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
              | content_copy
          pre.prettyprint.js-snippet-code
            code
              | font-family: &#39;Lato&#39;, sans-serif;

    article.margin-top-xxl.typography
      h3.title-strong
        | Type scale
      p
        | The HTML #[code &lt;small&gt;] tag defines smaller text. It is intended
        | to be used to identify items of secondary importance. It is 0.8 em the
        | size of the parent and it applies only to the title sizes H1 to H5.
      p
        | Heading and body font-sizes are based as follows:
      .table-responsive
        table.table
          thead
            tr
              th
                | HTML tag
              th
                | Size em
              th
                | Size px
              th
                | Font weight
              th
                | Text example
          tbody
            tr
              td
                code
                  | &lt;h1&gt;
              td
                | 2em
              td
                | 28px
              td
                | Lato Regular 400
              td
                h1
                  | EOS h1 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h2&gt;
              td
                | 1.75em
              td
                | 24.5px
              td
                | Lato Regular 400
              td
                h2
                  | EOS h2 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h3&gt;
              td
                | 1.5em
              td
                | 21px
              td
                | Lato Bold 700
              td
                h3
                  | EOS h3 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h4&gt;
              td
                | 1.3em
              td
                | 18.2px
              td
                | Lato Bold 700
              td
                h4
                  | EOS h4 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h5&gt;
              td
                | 1.15em
              td
                | 16.1px
              td
                | Lato Bold 700
              td
                h5
                  | EOS h5 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h6&gt;
              td
                | 1em
              td
                | 14px
              td
                | Lato Bold 700
              td
                h6
                  | EOS h6 headline
            tr
              td
                code
                  | &lt;body&gt;
              td
                | -
              td
                | 14px
              td
                | Lato Regular 400
              td
                p
                  | EOS design system

      .css-snippet-container
        .scss-snippet-btns.pull-right
          i.eos-icons.md-18.md-light.js-copy-snippet
            | content_copy
        pre.prettyprint.js-snippet-code
          code
            | h1,
            | h2 {
            |  font-weight: 400;
            |  margin-bottom: 10px;
            |  margin-top: 20px;
            | }
            |
            | h3 {
            |  font-weight: 700
            |  margin-bottom: 10px;
            |  margin-top: 20px;
            | }
            |
            | h4,
            | h5,
            | h6 {
            |  font-weight: 700
            |  margin-bottom: 10px;
            |  margin-top: 10px;
            | }
            |
            | body {
            |   font-size: 14px;
            | }
            |

    article.margin-top-xxl
      h3.title-strong
        | Headline margins
      p
        | All headlines have top and bottom margins defined for cross-browser consistency.
      p
        | #[code h1], #[code h2], #[code h3], use #[code margin-top: 20px], and #[code margin-bottom: 10px].
      p
        | #[code h4], #[code h5], #[code h6], use #[code margin-top: 10px], and #[code margin-bottom: 10px].
    article.margin-top-xxl
      h3.title-strong
        | Line-height
      p
        | The line-height is the vertical distance between lines of text.
        | The line-height is calculated as 1:1,5 of text size, line-height: 1.5em.

      p
        | EOS #[a(href='/writing') writing guides] and #[a(href='/writing/conventions-and-rules') conventions and rules]
        | should be followed when writing titles in order to maintain consistency and clarity.
    article.margin-top-xxl
      h3.title-strong
        | Text colors
      .usage-example
        .title
          h5
            | #141823
          p
            code
              | $eos-bc-gray-1000
        .wrap.white-gray
          p.wrap-content
            | Default text color on white
      p
        | More information related to text and colors can be found in the #[a(href='/colors/usage') color usage guide]
        | of the design system.
