li
  a(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Buttons')
    i.eos-icons.md-18
      | library_books
    | Installation instructions
li
  a(href='https://xd.adobe.com/spec/dc9d4027-fe12-49f4-43e8-d1a75f6b4087-aaac/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Buttons', target='_blank')
    i.eos-icons.md-18
      | open_in_new
    | Design specifications
li
  a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Button/buttons.xd', data-event-category='Dropdown link', data-event-action='XD Download', data-event-label='Buttons', target='_blank')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Button/Web%201920%20%E2%80%93%201.svg', data-event-category='Dropdown link', data-event-action='SVG Download', data-event-label='Buttons', target='_blank')
    i.eos-icons.md-18
      | file_download
    | SVG file 1
li
  a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Button/Web%201920%20%E2%80%93%202.svg', data-event-category='Dropdown link', data-event-action='SVG Download 2', data-event-label='Buttons', target='_blank')
    i.eos-icons.md-18
      | file_download
    | SVG file 2
