/* Table
   ========================================================================== */
/**
* The following rules override the default look of Bootstrap's Table
*
* Variables file: assets/stylesheets/eos-custom-components/table/table.variables.scss
*/

.table {
  border-bottom: $eos-table-border;
  border-color: $eos-table-border-color;

  > thead > tr > th {
    border-bottom-color: $eos-table-tr-th-border-color;
    padding: $eos-table-tr-th-padding;
  }

  > tbody > tr > td {
    align-content: center;
    align-self: center;
    border-color: $eos-table-border-color;
    padding: $eos-table-tr-th-padding;
    vertical-align: middle;

    code {
      background-color: transparent;
    }
  }
}
