/* Cards
   ========================================================================== */
/**
* Use it in HTML as (Card with text & image)
* <article class='articles-gallery'>
*   <div class='card-content'>
*     <header>
*       <h3> Card title</h3>
*     </header>
*     <p>
*       Card content
*     </p>
*     <div class='figure-wrap'>
*       <figure>
*         <img src='image url'>
*       </figure>
*     </div>
*     <footer>
*       Footer content
*     </footer>
*   </div>
* </article>
*
* Variables file: assets/stylesheets/eos-custom-components/card/card.variables.scss
*/

.card {
  background: $eos-card-bg;
  box-shadow: $eos-card-box-shadow;
  display: flex;
  flex-direction: column;
  font-size: $eos-card-font-size;
  justify-content: space-between;
  margin-bottom: $eos-card-margin-bottom;
  outline: none;
  transition: all 250ms ease-in-out;

  /* Styles for card wrapped by anchor */
  &.clickable {
    color: $eos-card-text;
    text-decoration: none;

    &:hover {
      box-shadow: $eos-card-hover-box-shadow;
      transform: translate(0, -16px);

      &::before {
        content: '';
        height: $eos-card-hover-anim-height;
        position: absolute;
        top: 100%;
        width: 100%;
      }
    }

    a {
      &:link,
      &:active,
      &:hover,
      &:focus,
      &:visited {
        color: $eos-card-text;
        text-decoration: none;
      }
    }

    // overwrite Bootstrap inherit property
    h3 {
      color: $eos-card-text;
    }
  }

  /* Status for disabled card */
  &.disabled {
    figure.round {
      background-image: linear-gradient(130deg, $eos-card-inactive-circle-gradient-from 0%, $eos-card-inactive-circle-gradient-to 100%);
    }

    footer {
      color: $eos-card-footer-disable-color;
    }
  }
}

/* Horizontal card style layout.
  ========================================================================== */
.card-horizontal {
  border-bottom: 5px solid $eos-card-horizontal-default-color;
  box-shadow: none;
  color: $eos-card-horizontal-link-color;
  display: flex;
  font-size: $eos-card-font-size;
  height: 100%;
  position: relative;

  &.slick-slide:not(:last-of-type) {
    margin-right: $eos-card-margin;
  }

  h3 {
    margin-top: 0;
  }

  .card-content {
    display: flex;
    justify-content: space-between;
    padding: $eos-card-content-padding;
    width: 100%;

    p {
      font-weight: normal;
      margin: 0;
    }

    div:first-child {
      display: flex;
      flex-direction: column;
      width: 60%;
    }

    div:last-child {
      align-self: center;
      display: flex;
      justify-content: center;
      width: 40%;

      img {
        max-width: $eos-card-horizontal-image-width;
      }

      /* We'll have to move those to  helper classes once we decide for the structure*/
      img.small-image {
        max-height: $eos-card-horizontal-small-image-max-height;
        width: 40%;
      }

      img.img-news {
        height: $eos-card-horizontal-image-news;
      }
    }

    div:only-child {
      display: flex;
      width: 100%;
    }
  }

  footer {
    align-items: center;
    background: $eos-card-horizontal-default-color;
    bottom: $eos-card-horizontal-bottom-margin;
    color: $eos-card-horizontal-default-text-color;
    display: flex;
    font-weight: bold;
    height: 0;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 0;

    @media screen and (max-width: $eos-sd-max) {
      display: none;
    }

    p {
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  /* Card icons positions */
  .card-icon {
    position: absolute;
    right: $eos-card-horizontal-icon-position;
    top: $eos-card-horizontal-icon-position;

    .eos-icons {
      margin-right: 0;
    }
  }

  .card-date {
    align-items: center;
    bottom: $eos-card-horizontal-icon-bottom-margin;
    display: flex;
    left: $eos-card-horizontal-icon-bottom-margin;
    position: absolute;
  }

  /* Manage hover state of footer */
  &:hover {
    color: $eos-card-horizontal-link-color;
    cursor: pointer;
    text-decoration: none;

    footer {
      height: $eos-card-horizontal-footer-hover;
      opacity: 1;
      z-index: $eos-card-horizontal-footer-zindex;

      p {
        opacity: 1;
      }
    }
  }

  &-color {
    border: $eos-card-horizontal-colored-border;
    border-bottom: $eos-card-horizontal-colored-border-bottom;
  }
}

/* Vertical card, dashboard cards.
========================================================================== */
.card-vertical {
  height: $eos-card-vertical-width;

  .card-content {
    flex-direction: column;
    padding: $eos-card-padding;
  }

  footer {
    background: $eos-card-bg;
    border-top: 1px solid $eos-card-divider-color;
    color: $eos-card-footer-color;
    flex: 0;
    height: auto;
    padding: $eos-card-padding;

    i {
      margin-left: $eos-card-footer-icon-margin;
    }

    &.disabled {
      color: $eos-card-footer-disabled;
    }
  }

  h3 {
    margin-bottom: $eos-card-vertical-h3-margin-bottom;
  }

  .figure-wrap {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      max-width: $eos-card-vertical-figure-img-width;
    }
  }
}

/* Flippable cards
========================================================================== */
// Flipping mechanism
.card-flipper {
  display: none;

  &:checked {
    ~ .card-flippable {
      .card-flippable-front {
        transform: rotateY(180deg);
      }

      .card-flippable-back {
        transform: rotateY(0deg);
      }
    }
  }
}

// Flipabble card main styles
.card-flippable {
  background: transparent;
  box-shadow: none;
  height: $eos-flippable-card-height;
  perspective: $eos-flippable-card-perspective;
  position: relative;

  .card-flippable-label {
    cursor: pointer;
  }

  .card-flippable-title {
    margin: $eos-flippable-card-content-margin;
  }

  .card-flippable-text {
    font-weight: $eos-flippable-card-text-weight;
    height: $eos-flippable-card-text-height;
  }

  .figure-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

/* Flippable card molecules */
.card-flippable-body {
  border-bottom: 1px solid $eos-flippable-card-footer-line;
  height: $eos-flippable-card-content-height;
  padding: $eos-flippable-card-h-padding;
}

.card-flippable-footer {
  background-color: transparent;
  color: $eos-card-footer-color;
  flex: 0;
  height: auto;
  padding-bottom: $eos-flippable-card-footer-padding;
}

// Arrow icon
.card-flippable-cta {
  background-color: $eos-flippable-card-footer-line;
  border-radius: 50%;
  bottom: $eos-flippable-card-cta-bottom;
  height: $eos-flippable-card-footer-label-height-width;
  line-height: $eos-flippable-card-cta-lheight;
  padding-left: $eos-flippable-card-cta-padding;
  position: absolute;
  right: $eos-flippable-card-cta-right;
  width: $eos-flippable-card-footer-label-height-width;
}

/* Flippable card templating */
// Flipabble card wrapper
.card-flippable-wrap {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: $eos-card-box-shadow;
  display: flex;
  flex-direction: column;
  height: $eos-flippable-card-wrap-w-h;
  justify-content: flex-start;
  overflow: hidden;
  padding: $eos-flippable-card-v-padding;
  position: absolute;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  width: $eos-flippable-card-wrap-w-h;
}

// Front face of card
.card-flippable-front {
  background-color: $eos-flippable-card-bg;
  color: $eos-flippable-card-color;
}

// Back face of card
.card-flippable-back {
  background-color: $eos-flippable-card-footer-line;
  box-shadow: $eos-card-hover-box-shadow;
  transform: rotateY(-180deg);

  .card-flippable-body {
    border-bottom-color: $eos-flippable-card-checked-footer-border-color;
  }

  .card-flippable-footer  {
    .card-flippable-cta {
      background-color: $eos-flippable-card-checked-label-bg;

      i {
        color: $eos-flippable-card-checked-i;
        transform: rotate(180deg);
      }
    }
  }
}
