/* Dashboard variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-dash-news-tutorials-wrap: $eos-xl;
$eos-dash-custom-breakpoint-tablet-max: 992px;
$eos-dash-custom-breakpoint-desktop-min: 993px;
$eos-dash-slick-slide-margin: 0 $eos-m 0 0;
$eos-dash-resouces-guides-margin-top: $eos-xxl;
$eos-dash-resources-guides-h2-margin-bottom: $eos-xl;
$eos-dash-resources-guides-h2-margin-left: $eos-m;

/* Spacing variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-dash-card-background-color: $eos-bc-cerulean-900;
$eos-dash-card-color: $eos-bc-white;
$eos-dash-card-content-color: $eos-bc-white;
$eos-dash-card-checked-bg-color: $eos-bc-white;
$eos-dash-card-checked-text-color: $eos-bc-gray-900;
$eos-dash-card-checked-footer-border-color: $eos-bc-cerulean-900;
$eos-dash-card-checked-label-bg-color: $eos-bc-cerulean-900;
$eos-dash-card-checked-i-color: $eos-bc-white;
$eos-dash-card-footer-border-color: $eos-bc-white;
$eos-dash-card-footer-label-bg-color: $eos-bc-white;
$eos-documentation-article-specs-margin: $eos-xxl;
$eos-documentation-npm-after-color: $eos-bc-gray-100;
$eos-documentation-npm-after-right: $eos-xl;
$eos-documentation-npm-after-width: 1px;
