/* Dashboard
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/dashboard/dashboard.variables.scss */
.dashboard {
  z-index: 0;

  .news-tutorials-carousel {
    margin-top: $eos-dash-news-tutorials-wrap;

    .slick-slide {
      margin: $eos-dash-slick-slide-margin;
    }
  }

  .resources-guides {
    margin-top: $eos-dash-resouces-guides-margin-top;

    h2 {
      margin-bottom: $eos-dash-resources-guides-h2-margin-bottom;
      margin-left: $eos-dash-resources-guides-h2-margin-left;
    }

    /* Resources and guides */
    .resource-content {
      display: none;
    }
  }
}

.documentation-npm-installing {
  &::after {
    background-color: $eos-documentation-npm-after-color;
    content: '';
    height: 100%;
    position: absolute;
    right: $eos-documentation-npm-after-right;
    top: 0;
    width: $eos-documentation-npm-after-width;
  }

  @media screen and (max-width: $eos-md-max) {
    &::after {
      display: none;
    }
  }
}

.documentation-article {
  @media screen and (max-width: $eos-sd-max) {
    .documentation-article-specs {
      margin-top: $eos-documentation-article-specs-margin;
    }
  }
}
