/* Label styles
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/label/labels.variables.scss */
.label {
  display: inline-block;
  margin: $eos-label-default-margin;
}

.label-default-custom {
  font-size: $eos-label-default-font-size;
  font-weight: normal;
  margin-top: $eos-label-margin-top;
}
