extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Footer
          p.subheadline
            | The footer is an additional navigation for the site and it can contain links, company info, copyrights etc.
        .col-md-3
          .dropdown.margin-top-m.pull-right
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.md-18 expand_more] Layout assets
            ul.dropdown-menu.dropdown-menu-left
              li
                a(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout/Footer')
                  i.eos-icons.md-18
                    | library_books
                  | Installation instructions
              li
                a(href='https://xd.adobe.com/spec/5a104012-a8c8-4605-62c6-a60c8ce8738f-2c21/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout/Footer', target='_blank')
                  i.eos-icons.md-18
                    | open_in_new
                  | Design specifications
    hr
    article.margin-top-xxl
      h3.title-strong
        | Description
      ul
        li
          | Depending on amount of informations that the footer contain, it can be positioned
          | at the very bottom of the main menu (for small footer content) or at the bottom of
          | the content area (for larger footer content).
        li
          | If the footer is contained within the main menu, when menu is collapsed footer changes position to the bottom of the content area.
        li
          | When placed under the content area, the footer should be aligned to the left.
        li
          | The background color, when contained in main menu is #[code $eos-bc-blue-700].

    article.margin-top-xxxl
      ul.nav.nav-tabs.nav-justified(role='tablist')
        li.active(role='presentation')
          a(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li(role='presentation')
          a(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li(role='presentation')
          a(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | 360px - 769px
        .tab-content
          #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/footer-greater-1336.svg')
          #responsive-breakpoint-2.tab-pane(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/footer-770-1335.svg')
          #responsive-breakpoint-3.tab-pane(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/footer-360-769.svg')
