extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Layout
          p.subheadline
            | The page layout is the foundation of an application. It provides the overall
            | structure and helps helps organise content consistently by using uniform elements.
          p
            | Visit the #[a(href='https://suse.eosdesignsystem.com/examples/demo-layout.html', data-event-category='External link', data-event-action='Demo page link', data-event-label='Layout', target='_blank') layout demo] page.
        .col-md-3
          .dropdown.margin-top-m.pull-right
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.md-18 expand_more] Layout assets
            ul.dropdown-menu.dropdown-menu-left
              li
                a(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout')
                  i.eos-icons.md-18
                    | library_books
                  | Installation instructions
              li
                a(href='https://xd.adobe.com/spec/5a104012-a8c8-4605-62c6-a60c8ce8738f-2c21/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout', target='_blank')
                  i.eos-icons.md-18
                    | open_in_new
                  | Design specifications
              li
                a(href='https://suse.eosdesignsystem.com/examples/demo-layout.html', data-event-category='Dropdown link', data-event-action='Demo page link', data-event-label='Layout', target='_blank')
                  i.eos-icons.md-18
                    | open_in_new
                  | Demo page
    hr
    article.margin-top-xxl
      h3.title-strong
        | Basic structure
      p
        | The basic structure is comprised of sidebar, header, content area and footer:
      ul
        li
          | The sidebar contains the elements used for main navigation.
        li
          | Elements such as branding, submenu, account settings and search are positioned in header.
        li
          | The content area represents the canvas of the application, and it holds  content of each page.
        li
          | The footer is an additional navigation element and can contain links, company or copyright information, etc.

      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-responsive.img-responsive-v-centered(src='/images/layout/structure.svg')

    article.margin-top-xxl
      h3.title-strong
        | Fluid page layout
      p
        | The fluid page layout is the default layout in #{config.brand}.
        | It provides the right screen real estate for content by allowing it to stretch and
        | contract relative to the screen size.
    article.margin-top-xxl
      h3.title-strong
        | Responsive breakpoints
      .row
        .col-md-8
          table.table
            tbody
              tr
                td
                  | greater than 1336px
              tr
                td
                  | 770px - 1335px
              tr
                td
                  | 360px - 769px
      ul.nav.nav-tabs.nav-justified(role='tablist')
        li.active(role='presentation')
          a(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li(role='presentation')
          a(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li(role='presentation')
          a(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | 360px - 769px
        .tab-content
          #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/desktop-menu.gif')
          #responsive-breakpoint-2.tab-pane(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/tablet-menu.gif')
          #responsive-breakpoint-3.tab-pane(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/mobile-menu.gif')
    article.margin-top-xxl
      h3.title-strong
        | Content area
      p
        | The main container has a maximum width of 1116px. When the screen size
        | is greater than the container's maximum width, the #[code margin: auto]
        | property is used to center it.
        | Margins and paddings are used to create space around elements.
        | Margins are used for space between elements while paddings are used for
        | space within an element. The default padding is a fixed value and it is 32px.
      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-responsive(src='/images/layout/desktop-mockup.svg')

    article.margin-top-xxl
      h3.title-strong
        | Grid
      p
        | EOS uses Bootstrap's grid system. It uses a series of rows, containers and
        | columns to arrange and align content. It’s fully responsive.
      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-responsive(src='/images/layout/grid.svg')
