extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Main menu
          p.subheadline
            | The manu provides list of choices for a user. The main menu is used for quick access to a consistent list of items.
        .col-md-3
          .dropdown.margin-top-m.pull-right
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.md-18 expand_more] Layout assets
            ul.dropdown-menu.dropdown-menu-left
              li
                a(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout/Main-menu')
                  i.eos-icons.md-18
                    | library_books
                  | Installation instructions
              li
                a(href='https://xd.adobe.com/spec/5a104012-a8c8-4605-62c6-a60c8ce8738f-2c21/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout/Main-menu', target='_blank')
                  i.eos-icons.md-18
                    | open_in_new
                  | Design specifications
    hr
    article.margin-top-xxl
      h3.title-strong
        | Description
      ul
        li
          | The main menu is always positioned on the left side of the screen.
        li
          | In big screens main menu starts off as uncollapsed, while in medium screens it starts off as collapsed.
        li
          | It contains a list of items which are always available.
        li
          | It may contain dropdown groups which allows the user to choose one value from the list. When the dropdown is inactive, it displays a single value.
        li
          | The menu has 3 responsive breakpoints: bigger than 1336px, 770px - 1336px and 360px - 769px.
        li
          | The background color is #[code $eos-bc-blue-500].
        li
          | It contains a #[i.eos-icons.md-18 menu] icon on the top-right corner
          | to allow users collapse the menu in order to increase the space in the content area.

    article.margin-top-xxxl
      ul.nav.nav-tabs.nav-justified(role='tablist')
        li.active(role='presentation')
          a(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li(role='presentation')
          a(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li(role='presentation')
          a(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | 360px - 769px
        .tab-content
          #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/main-menu-greater-1336.png')
          #responsive-breakpoint-2.tab-pane(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/main-menu-770-1335.png')
          #responsive-breakpoint-3.tab-pane(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/main-menu-360-769.png')
