extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Submenu
          p.subheadline
            | The submenu is secondary menu. It is a menu that is contained within main menu.
        .col-md-3
          .dropdown.margin-top-m.pull-right
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.md-18 expand_more] Layout assets
            ul.dropdown-menu.dropdown-menu-left
              li
                a(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout/Submenu')
                  i.eos-icons.md-18
                    | library_books
                  | Installation instructions
              li
                a(href='https://xd.adobe.com/spec/5a104012-a8c8-4605-62c6-a60c8ce8738f-2c21/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout/Submenu page assets dropdown', target='_blank')
                  i.eos-icons.md-18
                    | open_in_new
                  | Design specifications
    hr
    article.margin-top-xxl
      h3.title-strong
        | Description
      ul
        li
          | The submenu is positioned at the top of the screen and right of the main menu.
        li
          | The submenu sticks to the top of the screen. When a user scrolls down, the submenu will remain on the top position.
        li
          | It contains a list of items which are available within selected item from the main menu.
        li
          | The maximum number of items in submenu is 7. If items exceed that number,
          | the remaining items will appear as a dropdown list within the #[i.eos-icons.md-18 more_horiz] icon.
        li
          | It should always display the maximum number of visible items (but never more than
          | 7 in big screens) according to the size of the screen. The submenu should
          | calculate the available space and move items into the #[i.eos-icons.md-18 more_horiz] dropdown as they exceed the size.
    article.margin-top-xxxl
      ul.nav.nav-tabs.nav-justified(role='tablist')
        li.active(role='presentation')
          a(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li(role='presentation')
          a(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li(role='presentation')
          a(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | 360px - 769px
        .tab-content
          #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/submenu-greater-1336.png')
          #responsive-breakpoint-2.tab-pane(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/submenu-770-1335.png')
          #responsive-breakpoint-3.tab-pane(role='tabpanel')
            .figure-wrap.margin-top-xxl
              figure.text-center
                img.img-responsive.img-responsive-v-centered(src='/images/layout/submenu-360-769.png')
