/* ==========================================================================
  Cookie banner style
========================================================================== */
.cookies-alert {
  background: $eos-cookies-banner-background;
  bottom: 0;
  box-shadow: $eos-cookies-banner-boxshadow;
  display: none;
  flex-direction: row;
  margin: 0;
  padding: 0 50px;
  position: fixed;
  right: 0;
  width: $eos-cookies-banner-width;
  z-index: $eos-cookies-banner-zindex;

  @media screen and (max-width: $eos-sd-max) {
    flex-direction: column;
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
    padding: $eos-cookies-banner-buttons-padding;

    @media screen and (max-width: $eos-sd-max) {
      justify-content: flex-start;
    }

    button {
      margin: $eos-cookies-banner-button-margin;
    }
  }
}
